/*
Style Sheet for Cashew Auctions
* version: 4.0
* last modified: 1.22.2021
* author: Aidan Spelman
* email: aidanspel@hotmail.com
* website: Cashew Auctions
*/

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

// Importing some of the other scss files
@import "log-in";
@import "account";
@import "dropdown";
@import "itemSell";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

$main-color: #05a081;
$text-color: #fff;
$bg-color: #d3d3d3;
$bg-color-2: #eee;

*{
    box-sizing: border-box;
}
body {
    // font-family: 'Nunito', sans-serif
    font: {
        family: 'Nunito', sans-serif;
        size: 18px;
    }
}
header {
    width: 100%;
    position: relative;
    background-color: $bg-color-2;
    // z-index: 5;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo {
    font-weight: bold;
    font-size: 3rem;
}
.banner {
    width: 1140px;
    height:500px;
    margin: 80px auto;
    position: relative;
    z-index: -1;
}
.slider{
    img {
        width: 100%;
        position: absolute;
        z-index: -1;
    }
}
// before
// .banner:before{
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
// }
nav {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    font-size: 15px;
    a {
        text-decoration: none;
        color: #495057;
        padding: 1em 1em;
    }
    #intro {
        font-size: 12px;
    }
    .account {
        font-size: 15px;
    }
}

.padding{
    padding: 4rem 0;
}
// main-section
main{
    background-color: $bg-color-2;
}
.shop-pics {
    margin: auto;
    background-color: $bg-color-2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}
.pic-section {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    margin: 20px;
    width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
    
    hr {
        width:70%;
        margin: auto;
    }

    img {
        height: 100px;
        margin: 10px;
    }
    h4 { 
        text-align: center;
    }
    h5 {
        // text-align: center;
        padding-bottom: 10px;
    }
}
.pic-section:hover {
    background-color: $bg-color-2;
}
// Footer section
.contacts {
    background-color: $bg-color;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    img {
        width: 100%;
        padding: 5px;
    }
}
footer {
    background-color: $bg-color-2;
    text-align: center;
}
// Sign-up portion
#sign-up {
    padding-bottom: 4em;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    .inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
    }
    .notif-sec {
        margin: 0px 20px;
    }
    input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: $text-color;
        background-clip: padding-box;
        border: 1px solid #ced4da;
    }
    #state {
        width: 100%;
        position: relative;
        z-index: 10;
        font-size: 1em;
    }
}
.button {
    background-color: $main-color;
    transition: .3s all ease;
    padding: 12px 30px;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: $text-color;
    border: 1px solid $main-color;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
    width: 200px;
}
.button:hover {
    color: $main-color;
    background-color: $text-color;
}
